.container img {
    max-width:500px;
    max-height:500px;
    padding-top: 60px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}

.upload-button {
    border-radius: 5px;
    position: relative;
    top: 25px;
    font-family: Tahoma;
    width: 150px;
    padding: 10px;
    text-align: center;
    background-color: rgb(216, 123, 123);
    cursor: pointer;
}

input[type=submit] {
    border-radius: 5px;
    border: 0;
    width: 150px;
    height: 25px;
    cursor: pointer;
    font-family: Tahoma;
    font-size: 15px;
    background-color: rgb(216, 123, 123);
}

input[type="file"] {
    display: none;
}