@font-face {
    font-family: 'Shapiro';
    src: URL('../design/Shapiro 45 Welter Extd.ttf') format('truetype');
}

body { 
    background-color: rgb(216, 183, 135);
    background-image: url('../design/egg-shell.png');
}

.container img {
    max-width: 800px;
    max-height: 550px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}

.header {
    text-align: center;
    padding: 25px;
}

.upload-button {
    border: none;
    outline: none;
    padding: 6px 16px;
    cursor: pointer;
    font-family: Shapiro;
    font-size: 17px;
    background-color: #f1f1f1;
}

.upload-button:hover {
    background-color: #ddd;
}

.submit-button {
    text-align: center; 
    padding-top: 25px;
}

input[type=submit] {
    border: none;
    outline: none;
    padding: 6px 18px;
    cursor: pointer;
    font-family: Shapiro;
    font-size: 17px;
    background-color: #f1f1f1;
}

input[type=submit]:hover {
    background-color: #ddd;
}

input[type="file"] {
    display: none;
}